# Compiled class files
*.class

# Log files
*.log

# BlueJ / NetBeans / IntelliJ junk
*.ctxt
*.iml
*.ipr
*.iws
out/
.idea/

# VS Code: keep settings, ignore cache
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json

# MacOS
.DS_Store

# Java build artifacts
bin/
target/
